<a href="https://colab.research.google.com/github/gemma24/ISYS5002-assessment/blob/main/Sandbox_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Client's requirements
This notebook able to:
* Prompts for a company's stock market ticker symbol
* Scrapes the Yahoo finance website to extract info on the key company
* Calculate the each executive's expected income tax based on the ATO tax table
* Data can be saved as a CSV or SQLite database
* Follow PEP8 conventions

# Problem Solving Methodology
In the process of problem-solving, there are five key steps to follow:
1. State the problem clearly
2. Describe the input and output information
3. Work the problem by hand 
4. Develop an algorithm
5. Test solution with a variety of data.
# Step 1: State the problem 
* Find out what is ticker symbol
* Find the Yahoo finance wbesite and how to scrape?
* How to access each executive's information?
* How to calculate the each executive's expected income tax?
* How to save a data as a CSV and SQlite database

# Step 2: Describe the input and output information
## Website 

[Yahoo Finance](https://au.finance.yahoo.com/)

## Inputs

* Prompt for a ticker symbol

## Processing

* Get income from webpage
* Calculate Tax (using income)

## Outputs

* Save to CSV file 
* Save to SQLIte 




### Exploring the Website

Stock Ticker Symbol:  A stock symbol is a unique series of letters assigned to a security for trading purposes.  From https://www.investopedia.com/terms/s/stocksymbol.asp

Ticker can be for any company on the exchange

Note: once found page, need to click on the 'Profile' tab.

For TGT the profile page is:

https://au.finance.yahoo.com/quote/TGT/profile?p=TGT

For WOW.AX:

https://au.finance.yahoo.com/quote/WOW.AX/profile?p=WOW.AX


For COL.AX (Coles Group)

https://au.finance.yahoo.com/quote/COL.AX/profile?p=COL.AX

# Step 3: Work the problem by hand
# Try to work an example by hand

Here is the table from the website for COL.AX 
https://au.finance.yahoo.com/quote/COL.AX/profile?p=COL.AX&.tsrc=fin-srch

```
Name	Title	Pay	Exercised	Year born
Mr. Steven Cain	MD, CEO & Director	3.33M	N/A	1965
Ms. Leah Weckert	Chief Financial Officer	1.8M	N/A	N/A
Mr. Matthew Swindells	Chief Operations Officer	1.58M	N/A	N/A
Mr. Greg Davis	Chief Exec. - Commercial & Express	1.61M	N/A	N/A
Mr. John Cox	Chief Technology Officer	N/A	N/A	N/A
Mark Howell	Gen. Mang. of Investor Relations	N/A	N/A	N/A
Mr. David Brewster	Chief Legal Officer	N/A	N/A	N/A
Ms. Lisa Ronson	Chief Marketing Officer	N/A	N/A	N/A
Ms. Kris Webb	Chief People Officer	N/A	N/A	N/A
Mr. Thinus Keeve	Chief Sustainability, Property & Export Officer	N/A	N/A	N/A

```

Client clarified we only need Name, Title, Pay

Let consider one row, and only name title and pay

```
Name	              Title	          Pay
Mr. Steven Cain	MD, CEO & Director	3.33M
```

Note, 1st collum is the name, the second is title and thrid is pay.

**TODO:  Work out how get each colum/cell in the table**

### Want to calculate the tax
* Need to get the pay

*Note: We did a calculate tax in a earlier lab*

See: https://github.com/gemma24/my_first_repo/blob/main/tax_calculation.ipynb



```
def calculate_tax(income):
  ''' 
  This function will calculate the tax payable based on the ATO
  '''
  if income<=18200:
    tax=0
  elif 18200<income<=45000:
    tax= 0.19 * (income- 18200)
  elif 45001< income<= 120000:
    tax=5092+0.32*(income-45000)
  elif 120001< income < 180000:
    tax= 29467+0.37*(income-120000)
  elif 180001<= income:
    tax= 51667+0.45*(income-180000)
  return tax
```



I need the dollar amount to calculate the tax.

So Pay (or Salray) is 3.33M. Need to extract the 3.33 and multiply is by 1000,000 to give me the dollar amount.  Thne use this dollar amouunt to calculate the tax.

In [1]:
3.33 * 1000000

3330000.0